<div id="left">
  <h2>
    <strong title="用户中心"></strong>
    <div class="adorn1"></div>
    <div class="adorn2"></div>
  </h2>
  <dl>
    <dt>我的账户</dt>
    <dd>
      <a class="normal" href="/users/<%= @user.id %>"><span class="ico1">账户概览</span></a>
    </dd>
    <dd>
      <a class="normal" href="/users/<%= @user.id %>/edit"><span class="ico2">个人资料</span></a>
    </dd>
  </dl>

  <dl>
    <dt>我是买家</dt>
    <dd>
    <a class="normal" href="/users/<%= @user.id%>/orders"><span class="ico5">我的订单</span></a>
    </dd>
  </dl>

  <dl>
    <dt>我是卖家</dt>
    <dd>
    <a class="normal" href="/users/<%= @user.id %>/products"><span class="ico8">商品管理</span></a>
    </dd>
  </dl>
<%if current_user.role == 'admin'%>
  <dl>
    <dt>我是管理员</dt>
    <dd>
      <a class="normal" href="/users/"><span class="ico16">用户管理</span></a>
    </dd>
    <dd>
      <a class="normal" href="/groups"><span class="ico9">分类管理</span></a>
    </dd>
    
  </dl>
<%end%>
  <div class="adorn_bottom"></div>
</div>  
