<div class="keyword">
    <div class="keyword1"></div>
    <div class="keyword2"></div>
    当前位置:
            <a href="/store">首页</a>  &gt;                 收银台        
</div>
<div class="flow_chart">
    <div title="选购商品" class="pos_x1 bg_a2"></div>
    <div title="完成订单信息并下单" class="pos_x2 bg_b2"></div>
    <div title="下单完成并支付" class="pos_x3 bg_c1"></div>
</div>
<div class="content">
    <form id="goto_pay" method="POST" action="index.php?app=cashier&amp;act=goto_pay&amp;order_id=414">
    <div class="module_common">
        <div class="step_main">
            <div class="clue_on"><h4>订单提交成功！</h4><p>您的订单已成功生成，Thank You!</p></div>
            <div class="order_information">
                <h3>
                    <b>提示&nbsp;:&nbsp;<span>你可以在用户中心查看您的订单</span></b>
                    <b>&nbsp;&nbsp;<span>谢谢！</span></b>
                </h3>
            </div>

            <div class="buy">
	            <h3><b class="ico">温馨提示</b></h3>
	            <div style="font-size: 14px; line-height: 30px; color: rgb(248, 116, 40);" class="remark">
	                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由于作者才疏学浅，目前未能实现在线支付功能，有何不便之处，还望见谅！
	            </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
    </form>
</div>

<div style="color: rgb(102, 102, 102);" id="footer">
  <p>
    <a href="/store">首页</a>
  </p>
</div> 
